body
{

min-width:950px; /* suppose you want minimun width of 1000px */
   width: auto !important;  /* Firefox will set width as auto */
   width:950px;   
   
   
    //position:relative;
margin: 0px;
font-family: Helvetica, tahoma, arial;
background: #0072bc;

}


/* FROM */

a {
color: #cecece;
text-decoration: none;
}

a:hover{
color: #fff;
}

#banner{
float: left;
background: #0072bc;
top:0;
float: left;
height: 45px;
min-width: 600px;
width: 100%;
border-bottom: 2px solid #333;
}

.signholder {
padding: 4px;
padding-top: 12px;
padding-right: 20px;
float: right;
}

.signholderLeft {
padding: 4px;
padding-top: 12px;
padding-left: 20px;
float: left;
color: #fff;
}


/* uPTO */

#pannel
{
    // background: rgb(52, 118, 196);
    background: #cecece;
    //box-shadow: rgb(0, 0, 0) 6px 6px 14px 0px;
    height: 449px;
    width: 230px;
    //left: 100px;
    //position: absolute;
    //top: 146px;
    float: left;
    padding-top: 25px;
    padding-bottom: 25px;
    

}

#top-title {

background: #f3f3f3;
width: 736px;
padding-top: 10px;

float: left;
border-left: 4px solid #888;
font-weight: bold;

}



#droppable
{
background: #f6f6f6;
//box-shadow: rgb(0, 0, 0) 6px 6px 14px 0px;
height: 550px;
//margin: 105px 0 0 30%;
width: 736px;
float: left;
border-left: 4px solid #666;
}

#trash
{
//left: 150px;
//position: absolute;
//top: 640px;
background: #fff799;
padding: 10px;
}




nav
{
    font-weight:bold;
    width:100%;
    text-align: right;
    font-size:25px;
}

nav ul
{
   padding: 6px 0 6px 0;
  margin:0;
    
}
nav ul li
{
    display:inline;
    
}
nav ul li a
{
text-decoration: none;
    color: black;
    padding: 6px 5px 4px 20px;
    border-bottom: 3px solid white;
}
nav ul li a:link
{
   color: black; 
}
nav ul li a:visited
{
color: black;
}
nav ul li a:hover
{
    border-bottom-color:rgb(52, 118, 196);
}
 a:active
{
    border-bottom-color:rgb(52, 118, 196);
}

#list_tasks
{
   background: rgb(52, 118, 196);
height: 50px;
left: 30%;
position: absolute;
top: 95px;
width: 53em; 
}
#list_tasks2
{
   background: rgb(52, 118, 196);
height: 39px;
left: 20%;
position: absolute;
top: 95px;
width: 55em; 
}






.pull
{
    width:115px;
    //max-width:100px;
    //min-width:100px;
    //height:50px;
    //min-height:50px;
    //max-height:50px;
    background:rgb(52, 118, 196);
    border:1px solid white;
    //float: left;
    padding: 10px;
    cursor: pointer;
}
#pull
{
    //position:relative;
    //left:155px;
    //top:-509px;
    z-index:49;
    
}
#pull_textarea
{
    //position:absolute;
    //top:5px;
    //left:16px;
    resize:none;
    outline:none;
    z-index:49;
    //float: left;
    width: 100px;
    padding: 3px;
}



.vertical
{
     width:10px;
    //max-width:5px;
    //height:50px;
    //max-height:400px;
    //min-height:20px;
     //background: linear-gradient(0deg, rgb(52, 118, 196) 90%, white 10%);
    //border:1px solid white;
    font-size: 50px;
    color: #333;
    //float: left;
    cursor: pointer;
    height: 50px;
}
#vertical
{
   //position:absolute;
   // top:188px;
    //left:130px;
}
.horizontal
{
    width:70px;
    //max-width:40em;
    //min-width:20px;
    //height:5px;
    //max-height:5px;
     //background: linear-gradient(90deg, rgb(52, 118, 196) 90%, white 10%);
    //border:1px solid white;
    font-size: 50px;
    color: #333;
    //float: left;
    cursor: pointer;
    height: 50px;
}
#horizontal
{

    //position:absolute;
    //top:232px;
    //left:270px; 
}
.slant {
width:70px;
 cursor: pointer;
    height: 50px;
font-size: 50px;
cursor: pointer;
 color: #333;

}

#button
{
    background:#444;
    color:#fff;
    //width:130px;
    //height:35px;
    padding: 6px;
    //border-radius:10px;
    font-size:20px;
    //text-transform:uppercase;
    outline:none;
    text-align:center;
    font-weight:bold;
    border:solid 3px grey;
    //left: 75%;
    //position: absolute;
    //top: 715px;
    cursor: pointer;
}
#button:hover
{
    background:white;
    color:black;
}
.pull_pert
{
    width:100px;
    max-width:100px;
    min-width:100px;
    height:70px;
    min-height:70px;
    max-height:70px;
    background:rgb(52, 118, 196);
    border:1px solid white;
}
#pull_pert
{
     position:relative;
    left:155px;
    top:-528px;
    z-index:49;
}
#n1
{
    position:absolute;
    top:0;
    left:0;
    width:20px;
    outline:none;
}
#n2
{
    position:absolute;
    top:0;
    right:0;
    width:20px;
    outline:none;
}
#n3
{
    position:absolute;
    bottom:0;
    left:0;
    width:20px;
    outline:none;
}
#n4
{
    position:absolute;
    bottom:0;
    right:0;
    width:20px;
    outline:none;
}


#footer
{
background: #0072bc;

float: left;
height: 50px;
bottom:0;
top: 0;
width: 100%;
}