body {
margin: 0px;
font-family: Helvetica, tahoma, arial;
background: #0072bc;
}
    
#banner{
float: left;
background: #0072bc;
top:0;
float: left;
height: 45px;
min-width: 600px;
width: 100%;
border-bottom: 2px solid #333;
}
a {text-decoration: none}
a:hover {color: #fff}
#line1
{
    background: rgb(41, 41, 41);
    position:absolute;
    top:45px;
    height: 4px;
    width: 100%;
}

#footer2
{
    background: rgb(41, 41, 41);
    position:absolute;
    height: 4px;
    width: 100%;
    bottom:240px;
}
#footer3
{
    background: rgb(41, 41, 41);
float: left;
    height: 4px;
    min-width: 600px;
    width: 100%;
    bottom:20px;
}

#footer
{
background: #0072bc;

float: left;
height: 50px;
bottom:0;
top: 0;
width: 100%;
}
#form_text
{

    float: left;
    color:white;
    bottom:90px;
    right:87px;
}

#signUp_button
{
    
    background:white;
    width:130px;
    height:50px;
    border:solid 2px black;
    text-align:center;
    font-size:25px;
    text-transform:uppercase;
    outline:none;
    text-align:center;
    font-weight:bold;
    font-style:oblique;
    cursor: pointer;
}
#signUp_button:active
{
    background:#0072bc;
    color:white;
}



#formLogin
{

    width:170px;
    height:100px;
}
#password,#username
{
    
    border:2px solid black;
    height:20px;
    margin-top:10px;
}

.signup
{
    
    border:2px solid black;
    height:20px;
    margin-top:10px;
}

#login_button
{
    background:white;
    color:black;
    font-size:20px;
    border:solid 2px black;
     font-style:oblique;
    font-weight:bold;
    margin-top:10px;
    outline:none;
    cursor: pointer;
}
#login_button:active
{
    background:grey;
    color:white;
}

#text_intro
{
	background: #fff;
    float: left;
    margin:-500px auto;
    width:400px;
    height:100px;
    color: #000;

}
#text_intro2
{
    float: left;
    //bottom:10px;
    padding-left:20px;
    color:white;
    //font-style:italic;
    font-size:20px;
    width: 500px;
}
#home
{
    float: right;


    padding-top: 3px;

    z-index:1;
    color:white;
    text-decoration:none;
    font-size:16px;
    font-weight:bold;
}



#formSign
{
 


}

#sign_button
{
  background:white;
    color:black;
    font-size:20px;
    border:solid 2px black;
    font-style:oblique;
    font-weight:bold;
    margin-top:10px;
    outline:none;
    cursor: pointer;
}

#sign_button:active
{
    background:grey;
    color:white;
}

#help
{
padding: 20px;
	padding-top: 40px;
	padding-bottom: 40px;
    float: left;

    width: 400px;
    border-left: 4px solid #999;
        background: #fff;
    text-align: left;
}

/*
#vert_line
{
padding: 20px;
padding-top: 150px;
   float: left;
    width:5px;
    height:500px;
    background:grey;
    margin:20px auto;
} 
*/

#title_ch
{
padding: 20px;
text-align: left;
    width: 400px;
	padding-top: 40px;
	padding-bottom: 40px;
    float: left;
    background: #fff;



}

.signholder {
padding: 4px;
padding-top: 12px;
padding-right: 20px;
float: right;
}

.signholderLeft {
padding: 4px;
padding-top: 12px;
padding-left: 20px;
float: left;
color: #fff;
}

#createNew
{
	margin-top: -3px;
    float: right;
    top:5px;
    right:20px;
    z-index:1;
    color:black;
    text-decoration:none;
    font-size:16px;
    font-weight:bold;
    background:white;
    padding:4px;
    border:1px solid black;
}